@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ensure the map takes full height */
.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* Base styles */
body {
  margin: 0;
  padding: 0;
  background-color: #f9fafb; /* gray-50 */
}